.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pixel{
    width: 50px;
}
.searchBtn{
    border: none;
    outline: none;
    background-color: #F7F7F7;
    padding: 10px;
    cursor: pointer;
}
.searchBtn:hover{
    color: #E44242;
}
.searchInput{
    border:none;
    background-color: #F7F7F7;
    padding: 10px;
    outline: none;
}