.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pixel {
  width: 80px;
}
.title{
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
}
.searchBtn {
  border: none;
  outline: none;
  background-color: #f7f7f7;
  padding: 15px;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  margin: 15px 0;
  font-size: 20px;
}
.searchBtn:hover {
  color: #e44242;
}
.searchInput {
  border: none;
  background-color: #f7f7f7;
  padding: 10px;
  outline: none;
  border-radius: 8px 0 0 8px;
  width:60%;
  padding: 15px;
  margin: 15px 0;
  margin-left: 15px;
  font-size: 20px;
  color: #7f7f7f;
}
.searchSection {
  width: 70%;
  display: flex;
  align-items: center;
}
.list a{
color: black;
text-decoration: none;
margin: 0 10px;
}
