.navbar {
  z-index: 100;
  width: 100%;



}
.navbarMoved {
  background-color: white;
  z-index: 100;
  width: 100%;
  color: black;
;
}
.appBar{
  background-color: transparent !important;
}
.appBarMoved{
  background-color: white !important;
}
.navbar a{
  color: white;
}
.navbarMoved a {
  color: black;
}
.pixel {
  width: 80px;
}
.title {
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
  display: block;
}
.searchBtn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  color: black;
  background-color: #f7f7f7;
  padding: 14px;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  font-size: 20px;
  height: 50px;
}
.searchBtn:hover {
  color: #e44242;
}
.searchInput {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background-color: #f7f7f7;
  padding: 10px;
  outline: none;
  border-radius: 8px 0 0 8px;
  width: calc(100% - 48px) ;
  padding: 15px;
  margin-left: 15px;
  height: 50px;
  font-size: 20px;
  color: #7f7f7f;
}
.searchSection {
  width: 70%;
  display: flex;
  align-items: center;
}
.collectionLink {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
  transition: 0.3s;
  font-weight: 600;
}
.collectionLink:hover {
  color: #b3b3b3;
}
.searchBoxOnTop {
  display: none;
}
.searchBoxMovedDown {
  position: relative;
  display: block;
  height: 40px;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}


@media screen and (max-width:900px) {
  .title{
    display: none;
  }
}
@media screen and (max-width:600px) {
  .collectionLink{
    display: none;
  }
.searchSection {
  width: 90%;
}}